﻿@page "/sample"
@inject HttpClient Http

<h1>@title</h1>
<p>This component demonstrates fetching data from the server.</p>
@if (forecasts == null) {
    <p><em>Carregando...</em></p>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts) {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

<h1>Contador</h1>
<p>Contagem atual: @currentCount</p>
<div class="top-row px-4">
    <button class="btn btn-primary" onclick="@IncrementCount">Click me</button>
</div>

@functions{
    #region Fields
    EWeatherForecast[] forecasts;
    int currentCount = 0;
    [Parameter]
    private string title { get; set; } = "Previsão do tempo";
    #endregion

    #region OnInitAsync
    protected override async Task OnInitAsync() {
        forecasts = await Http.GetJsonAsync<EWeatherForecast[]>("/sample-data/weather.json");
    }
    #endregion

    #region IncrementCount
    void IncrementCount() {
        currentCount++;
    }
    #endregion
}
