﻿<div class="bigFont">
    <p>Ano: @Year</p>
    <br />
    <button class="btn btn-primary" onclick="@BtnClicked">Aumentar valor</button>
</div>

<style>
    .bigFont {
        font-size: 20px;
        font-weight: bold;
    }
</style>

@functions {
    [Parameter]
    private int Year { get; set; }

    [Parameter]
    private Action<int> YearChanged { get; set; }//O nome deve obrigatoriamente ser igual ao da propriedade associada (Year)

    private void BtnClicked() {
        Year++;
        //nao precisa emitir o action abaixo para alterar o label no parent. 
        YearChanged.Invoke(Year);
    }
}