﻿@*author Bruno Vacare Tezine - bruno.vacare@accenture.com*@
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">BlazorApp</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/sample">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sample
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/books">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Form and DI
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/lifecycle">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lifecycle methods
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/databinding">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Databinding
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/jsinterop">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Javascript interop
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/router">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Router
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/inheritance">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Herança
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/styles">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Styles
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/rest">
                <span class="oi oi-list-rich" aria-hidden="true"></span> REST Sample
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/fetchdataredux">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Redux
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;
    void ToggleNavMenu(){
        collapseNavMenu = !collapseNavMenu;
    }
}
