﻿@inherits CPagerModel 
 
@if (Result != null) {
    <div class="row">
        <div class="col-md-8 col-sm-8">
            @if (Result.PageCount > 1) {
                <ul class="pagination pull-right">
                    <li><button onclick="@(() => PagerButtonClicked(1))" class="btn">&laquo;</button></li>
                    @for (var i = StartIndex; i <= FinishIndex; i++) {
                        var currentIndex = i;
                        @if (i == Result.CurrentPage) {
                            <li><span class="btn">@i</span></li>
                        } else {
                            <li><button onclick="@(() => PagerButtonClicked(currentIndex))" class="btn">@i</button></li>
                        }
                    }
                    <li><button onclick="@(() => PagerButtonClicked(Result.PageCount))" class="btn">&raquo;</button></li>
                </ul>
            }
        </div>
    </div>
}