﻿@page "/router"
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h1>Blazor Router</h1>
<div class="container-fluid">
    <a class="row col-md-12">Exemplifica a navegação entre páginas através do Blazor Router.</a>
    <a class="row col-md-12">Para que uma página (arquivo .cshtml) seja "roteável", deve conter a diretiva &nbsp; <b>@@page</b></a>
    <a class="row col-md-12">Uma página pode conter várias rotas para ela. Assim, podemos colocar várias diretivas &nbsp;<b>@@page</b> </a>
    <a class="row col-md-12">Parâmetros (url segments) da página são enviados assim @@page "/hello-planet/{Planet}". Neste caso, <b>Planet</b> &nbsp; é o parâmetro</a>
</div>
<br />
<div class="top-row px-4">
    <button class="btn btn-primary btn-space" onclick="@BtnGoToHomeClicked">Voltar ao Index</button>
    <button class="btn btn-primary btn-space" onclick="@BtnGoToHomeWithPars">Voltar ao Index com parâmetros</button>
    <button class="btn btn-primary btn-space" onclick="@BtnGoToHomeWithQuery">Voltar ao Index com query pars</button>
    <NavLink href="/">Voltar ao index via NavLink</NavLink>
    <a style="color:blue;text-decoration:underline;margin-left:10px;" href="/">Voltar ao index via href</a><br />
</div>

@functions{
    #region BtnGoToHomeClicked
    private void BtnGoToHomeClicked() {
        UriHelper.NavigateTo("/");
    }
    #endregion

    #region BtnGoToHomeWithPars
    private void BtnGoToHomeWithPars() {
        UriHelper.NavigateTo("/meuparametro");
    }
    #endregion

    #region BtnGoToHomeWithQuery
    private void BtnGoToHomeWithQuery() {
        UriHelper.NavigateTo("/?meuquery=1000");
    }
    #endregion
}
