﻿@page "/databinding"

<h1>Databinding</h1>

<div class="container-fluid myContainer">
    <h2>One-way databinding</h2>
    <a class="row col-md-12">Note que não é necessário alterar o valor da UI após um evento gerado na UI (button abaixo). O Blazor atualiza o valor automáticamente. </a>
    <a class="row col-md-12">Quando o evento não é gerado pela UI, ou seja, foi gerado pelo código, é necessário executar StateHasChanged();</a>
    <br />
    <button class="btn btn-primary" onclick="@(() => BtnOneWayDecrementClicked())">Diminuir valor</button>
    <button class="btn btn-primary" onclick="@BtnOneWayIncrementClicked">Aumentar valor</button>
     <br /><br />
    <p class="bigFont">Valor: @oneWayValue</p>
</div>

<div class="container-fluid myContainer">
    <h2>Two-way databinding</h2>
    <a class="row col-md-12">Two-way databinding é suportado pelo Blazor através de bind.</a>
    <a class="row col-md-12">Na versão 0.3.0 do Blazor, apenas os seguintes formatos são suportados: int, string, DateTime, enums e boolean.</a>
    <a class="row col-md-12">Repare que é apresentado o nome digitado automaticamente assim que o input perde o foco abaixo. </a>
    <br />
    Digite seu nome: <input type="text" bind="@name"  class="form-control"/><br />
    @if (name != null) {<p class="bigFont">Olá @name</p>}
</div>

<div class="container-fluid myContainer">
    <h2>Atributos de componentes</h2>
    <a class="row col-md-12">O atributo (Parameter) Year do componente é bindable porque contem o  Action YearChanged </a>
    <a class="row col-md-12"></a>
    <VChildComponent bind-Year="@ParentYear"  YearChanged="YearChangedOnClient"/>
</div>

<style>
    .myContainer{
        background-color:lightgray;
        padding:15px;
        margin-top:10px;
    }
    .bigFont{
        font-size:20px;
        font-weight:bold;
    }
</style>

@functions{
    #region Fields
    private int oneWayValue = 1;
    private string name;
    [Parameter]
    private int ParentYear { get; set; } = 1978;
    #endregion

    #region BtnOneWayDecrementClicked
    private void BtnOneWayDecrementClicked() {
        oneWayValue--;
    }
    #endregion

    #region BtnOneWayIncrementClicked
    private void BtnOneWayIncrementClicked() {
        oneWayValue++;
    }
    #endregion

    #region YearChangedOnClient
    private void YearChangedOnClient(int ano) {
        BlazorLib.JSInterop.Alert("Alterou ano: " +ano.ToString());
    }
    #endregion
}
