﻿@*nao precisamos usar @page pq usamos dentro do VReduxFetchData. Este componente não é roteável*@
@using BlazorApp
@inherits FetchDataReduxComponent

<h1>Contador Redux</h1>
<p>Contagem atual: @State.Count</p>

<div class="top-row px-4">
    <button class="btn btn-primary" onclick=@(() => Dispatch(new IncrementByValueAction(3)))>Clique aqui para incrementar 3 unidades</button>
</div>
