﻿<!-- #region Header -->
@*author Bruno Vacare Tezine - bruno.vacare@accenture.com*@
@page "/fetchdataredux"
<!--ao invés de escrever functions{}, utiliza o arquivo FetchDataReduxComponent.cs -->
@inherits FetchDataReduxComponent
@inject HttpClient Http
@using Microsoft.AspNetCore.Blazor.Components
<!-- #endregion-->

<h1>Previsão do tempo com redux</h1>
<p>Este componente demonstra um request REST com Redux. Instale o Redux DevTools no Chrome  para acompanhar as mudanças</p>

@if (@State.Forecasts == null) {
    <p><em>Carregando...</em></p>
} else {
    <table class='table'>
        <thead>
            <tr>
                <th>Data</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Resumo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in @State.Forecasts) {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="top-row px-4">
        <button class="btn btn-primary" onclick=@(async () => await CReduxActionCreators.LoadWeather(Store.Dispatch, Http))>Recarregar previsão</button>
    </div>
}

<VReduxCounter />
