﻿@page "/lifecycle"
@using BlazorLib

<h1>Lifecycle methods</h1>
<ul>
    @foreach (var status in statusList) {
        <li>@status</li>
    }
</ul>

<input style="width:300px" ref="input1" placeholder="Focus apenas na primeira renderização" />

@functions{
    #region Fields
    //NOTA: O pessoal do Blazor tem adicionado novos métodos de lifecycle.
    ElementRef input1;
    bool isFirstRender = true;
    private List<string> statusList = new List<string>();
    [Parameter]
    private string name { get; set; }//descomentar <VLifecycle name = "Tezine" ></ VLifecycle > em Pages/Index.cshtml para testar
    #endregion

    #region OnInitAsync
    //OnInit ou OnInitAsync é o primeiro método executado automaticamente pelo componente
    protected override async Task OnInitAsync() {
        statusList.Add("(OnInitAsync) starting");
        await Task.Delay(2000);// Simulate async initialization work. 2 seconds
        statusList.Add("(OnInitAsync) started");
    }
    #endregion

    #region OnParameterSet
    //é executado assim que o componente recebe parâmetros do parent e atribui a suas propriedades. É executado após o OnInit.
    protected override void OnParametersSet() {
        statusList.Add("(OnParametersSet). Parameter:" + name);
    }
    #endregion

    #region OnAfterRenderAsync
    //OnAfterRenderAsync ou OnAfterRender é executado cada vez que o componente finaliza a renderização. Referências do componente/elemento são preenchidas neste momento.
    protected override void OnAfterRender() {
        statusList.Add("(OnAfterRender).");
        if (isFirstRender) {
            //mantem o foco no input apenas na primeira renderização.
            isFirstRender = false;
            JSInterop.Focus(input1);
        }
    }
    #endregion
}
