﻿<!-- #region Header -->
@*author Bruno Vacare Tezine - bruno.vacare@accenture.com*@
@using Microsoft.AspNetCore.Blazor.Services
@page "/books"
@page "/books/{Page}"
@inherits VFormModel
@inject HttpClient Http
@inject IBooksClient BooksClient
@inject IUriHelper UriHelper
<!-- #endregion -->

<h1>Formulários e Dependency Injection</h1>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Título</th>
        <th>ISBN</th>
    </tr>
    @foreach (var book in Books.Results) {
        var id = book.Id;
        var title = book.Title;
        <tr>
            <td>@book.Id</td>
            <td>@book.Title</td>
            <td>@book.ISBN</td>
            <td>
                <button class="btn green" onclick="@(() => EditBook(id) )">...</button>
                <button class="btn red deleteBook" onclick="@(() => DeleteBook(id) )">x</button>
            </td>
        </tr>
    }
</table>
<VPager Result=@Books PageChanged=@PagerPageChanged />
