﻿<!--#region Header-->
@*author Bruno Vacare Tezine - bruno.vacare@accenture.com*@
@page "/booksedit"
@page "/booksedit/{Id}"
@inherits VBooksEditModel
<!--#endregion -->

<!--ADIÇÃO/EDIÇÃO DE LIVROS ABAIXO-->
@if (CurrentBook != null) {
    <div class="row">
        <div class="col-md-9">
            <form class="form form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">Título:</label>
                    <div class="col-md-7">
                        <input type="text" bind=@CurrentBook.Title class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">ISBN:</label>
                    <div class="col-md-7">
                        <input type="text" bind=@CurrentBook.ISBN class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-7">
                        <button class="btn btn-primary" onclick=@Save>Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
} else {
    <p><em>Aguarde...</em></p>
}