﻿<!-- #region Header -->
@*author Bruno Vacare Tezine - bruno.vacare@accenture.com*@
@page "/"
@page "/{meuparametro}"
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
<!-- #endregion -->

<h1>Bem-vindo ao BlazorApp</h1>
<p>Este é um aplicativo destinado à apresentar as principais funcionalidades do Blazor</p>
<p>Selecione a opção desejada no Menu Lateral para executar o exemplo</p>
<p>Selecione a opção no Menu Superior para ser redirecionado para o website relacionado</p>
<br />
@*<VLifecycle name="Tezine"></VLifecycle>*@


@functions{
    [Parameter]
    private string meuparametro { get; set; }

    protected override void OnInit() {
        base.OnInit();
        UriHelper.OnLocationChanged += (sender, location) => {
            var uri = new Uri(UriHelper.GetAbsoluteUri());
            CLogger.LogDebug("Location:" + location + "query:" + uri.Query);
            var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("meuquery", out var valor) ? valor.First() : "";
            if (query.Length > 0) BlazorLib.JSInterop.Alert("Chegou Query Parameter:" + query);
            StateHasChanged();//para atualizar o valor na UI
        };
    }

    #region OnParameterSet
    protected override void OnParametersSet() {
        //Console.WriteLine("apresentando pagina index:" + meuparametro);
        base.OnParametersSet();
        if (meuparametro != null) BlazorLib.JSInterop.Alert("recebeu parâmetro " + meuparametro);
    }
    #endregion

}