﻿<div class="container">
    @*<i class="checkbox"></i>*@
    <i class="@checkboxClass"></i>
    <label class="label" onclick="@CheckClicked">@text</label>
</div>

<style>
    .container{
        display:flex;
           
    }
    .checkbox{
        /*width:40px;*/
        /*height:40px;*/
        /*background-color:blue;*/
        /*background-image:url('../wwwroot/images/checkbox-checked.svg')*/ 
        cursor:pointer;
    }
    .label {
        margin-left: 12px;
        cursor: pointer;
        line-height: 30px;
        font-family: Roboto,sans-serif;
        font-size: 16px;
        vertical-align: middle;
        color: rgba(0,0,0,.54);
        text-align:left;
    }
</style>

@functions{
    [Parameter]
    private string text { get; set; }="";
    private string checkboxClass = "fa fa-2x fa-check-square checkbox";

    void CheckClicked(){
        Console.WriteLine("clicou");
        checkboxClass= "fa fa-2x fa-check - square - o";
        StateHasChanged();
    }
}