﻿@page "/styles"
<h1>Styles</h1>
<div class="container-fluid myContainer">
    <a class="row col-md-12"> Blazor na versão deste documento (0.3.0) ainda não conta com pré-processador SASS. 
    De qualquer maneira, pode-se adicionar styles no próprio arquivo .cshtml conforme usado neste arquivo</a>
</div>

<div class="container-fluid myContainer">
    <a class="row col-md-12" style="color:@color">
        Blazor também permite a definição de styles dinâmicos inline, conforme apresentado aqui. 
    </a>
</div>


<style>
    .myContainer {
        background-color: lightgray;
        padding: 15px;
        margin-top: 10px;
    }
    .bigFont {
        font-size: 20px;
        font-weight: bold;
    }
</style>

@functions{
    private string color = "darkblue";
}