﻿<!--#region Header-->
@*author Bruno Vacare Tezine - bruno.vacare@accenture.com*@
@page "/rest"
@inject HttpClient Http
<!--#endregion-->

<h1>REST Sample</h1>
<p>Selecione a ação REST desejada abaixo:</p>

@if (loading) {
    <p><em>Aguarde...</em></p>
}
@if (!loading && postsList.Count > 0) {
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>UserID</th>
                <th>Título</th>
                <th>Conteúdo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in postsList) {
                <tr>
                    <td>@user.id</td>
                    <td>@user.userId</td>
                    <td>@user.title</td>
                    <td>@user.body</td>
                </tr>
            }
        </tbody>
    </table>
}
@if (postResult != null) {
    <p>Retorno do Post: @postResult</p>
}
@if (putResult != null) {
    <p>Retorno do Put: @putResult</p>
}
@if (deleteResult != null) {
    <p>Retorno do Delete: @deleteResult</p>
}
<div class="top-row px-4">
    <button class="btn btn-primary btn-space" onclick="@TestRESTGet">Get</button>
    <button class="btn btn-primary btn-space" onclick="@TestRestPost">Post</button>
    <button class="btn btn-primary btn-space" onclick="@TestRestPut">Put</button>
    <button class="btn btn-primary btn-space" onclick="@TestRestDelete">Delete</button>
</div>
<!--#endregion -->

@functions{
    #region Fields
    private List<EPost> postsList = new List<EPost>();
    private bool loading = false;
    private string postResult;
    private string putResult;
    private string deleteResult;
    #endregion

    #region Clear
    private void Clear() {
        loading = true;
        postsList.Clear();
        postResult = putResult = deleteResult = null;
    }
    #endregion

    #region EndLoading
    private void EndLoading() {
        loading = false;
        StateHasChanged();//com redux nao precisa disso
    }
    #endregion

    #region TestRESTGet
    private async void TestRESTGet() {
        Clear();
        CLogger.LogDebug("Carregando a lista de posts");
        postsList = await Http.GetJsonAsync<List<EPost>>("https://jsonplaceholder.typicode.com/posts?userId=1");
        CLogger.LogDebug("Contagem de posts:" + postsList.Count);
        EndLoading();
    }
    #endregion

    #region TestRestPost
    private async void TestRestPost() {
        Clear();
        EPost result = await Http.PostJsonAsync<EPost>("https://jsonplaceholder.typicode.com/posts", new EPost { title = "Novo post", body = "Conteudo", userId = 100 });
        postResult = JsonUtil.Serialize(result);
        EndLoading();
    }
    #endregion

    #region TestRestPost
    private async void TestRestPut() {
        Clear();
        int postID = 1;
        EPost result = await Http.PutJsonAsync<EPost>($"https://jsonplaceholder.typicode.com/posts/{postID}", new EPost { title = "Edicao do post", body = "Conteudo", id = postID, userId = 1 });
        putResult = JsonUtil.Serialize(result);
        EndLoading();
    }
    #endregion

    #region TestRestDelete
    private async void TestRestDelete() {
        Clear();
        int postID = 1;
        HttpResponseMessage result = await Http.DeleteAsync($"https://jsonplaceholder.typicode.com/posts/{postID}");
        deleteResult = result.IsSuccessStatusCode.ToString();
        EndLoading();
    }
    #endregion
}
