﻿<!-- #region Header -->
@page "/jsinterop"
@*author Bruno Vacare Tezine - bruno.vacare@accenture.com*@
@using Microsoft.AspNetCore.Blazor.Browser.Interop
<!-- #endregion -->

<h1>Javascript Interoperability</h1>
<div class="container-fluid">
    <a class="row col-md-12">Blazor permite executar funções Javascript a partir do C# e vice-versa. </a>
    <a class="row col-md-12">
        É interessante manter os acessos ao Javascript a partir de uma lilb (como a BlazorLib desse projeto).
    </a>
    <br />
    <button  class="btn btn-primary" onclick="@BtnCallJSClicked">Executar Javascript</button>
</div>

<!--Na versão 0.3.0 não é permitido usar scripts dentro de um componente
<script blazor-local>

</script>
-->


@functions{

    #region BtnCallJSClicked
    private void BtnCallJSClicked() {
        var result = BlazorLib.JSInterop.SetDocumentBackgroundColor("blue");
        Console.WriteLine("result:" + result);
    }
    #endregion
}